body{
  background-color: #F3F1F5;
  padding-left: 13px;
  padding-top: 13px;
  padding-bottom: 20px;
}
/* h1{
  color: ##DDDDDD;
}
h3{
  color: #66BFBF;
} */
a{
  text-decoration: none;
  padding: 5px;
}

.skills{
  margin-left: 21px;
}
@media screen and (max-width: 900px) {
  a{
    font-size: 16px;
  }
  body{
    padding-left: 7px;
    padding-top: 7px;
    padding-bottom: 20px;
  }
}