body{
  background-color: #F3F1F5;
  padding-left: 13px;
  padding-top: 13px;
  padding-bottom: 20px;
}
hr{
  visibility: hidden; 
}
a{
  text-decoration: none;
  padding-bottom: 14px;
  margin: 5px;
  color: blue;
}

.skills{
  margin-left: 21px;
}
@media screen and (max-width: 900px) {
  a{
    font-size: 16px;
  }
  body{
    padding-left: 7px;
    padding-top: 7px;
    padding-bottom: 20px;
  }
}